* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: "Pretendard Variable", "DNFBitBitv2", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  outline: none;
  
}

* ::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'DNFBitBitv2';
  src:url('../src/constants/font/DNFBitBitv2.otf')format('opentype');
  font-display: swap;
}